#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Tampermonkey
Exec=/usr/bin/chromium --profile-directory=Default --app-id=dhdgffkkebhmkfjojejmpbldmpobfkfo
Icon=chrome-dhdgffkkebhmkfjojejmpbldmpobfkfo-Default
NoDisplay=true
StartupWMClass=crx_dhdgffkkebhmkfjojejmpbldmpobfkfo
OnlyShowIn=Old;
